body {
    font-family: poppins;
    margin: 0;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    background-color: gray;
}

.menu {
    display: flex;
    width: 10vw;
}

.panier {
    display: flex;
    width: 90vw;
    background-color: white;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_space_around {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex_left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.scroll_conteneur_y {
    position: relative;
    height: 100%;
}

.scrollable_y {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
}

.scrollable_y::-webkit-scrollbar {
    width: 0px;
}

.scrollable_y::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.scrollable_y::-webkit-scrollbar-track {
    background-color: transparent;
}

.grid_parent {
    display: grid;
    grid-template-columns: 25% 55% 20%;
    grid-template-rows: repeat(3, 1fr);

    width: 80%;
    height: 400px;
    margin-top: 7%;
    border: 2px solid #8FB43A;
    border-radius: 40px;
    background-color: #DCDFDA;
}

.grid_1 {
    grid-area: 1 / 1 / 4 / 2;
}

.sapce_between {
    display: flex;
    justify-content: space-between;
}

.align_center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.producteur {
    background-color: #B7CE66;
    color: white;

    width: 90%;
    height: 100%;

    border-radius: 40px;
}

.adresse_producteur {
    padding-top: 5px;
}

.nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.img_producteur {
    height: 50%;
}

.image_producteur {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.fullW {
    text-align: center;
    padding-bottom: 5px;
}

.avis {
    padding-top: 5px;
    padding-bottom: 5px;
}

.avis_etoile {
    max-width: 10%;
    height: auto;
    width: auto;
}

.voir_avis {
    margin-top: 1%;
    background-color: #D9D9D9;
    padding: 1%;
    border-radius: 10px;
    color: black;
}

.ptmap {
    margin-right: 1%;
}

.grid_2 {
    grid-area: 1 / 2 / 4 / 3;
}

.produit_commande {
    width: 40%;
    height: 95%;
    border: 2px solid #8FB43A;
    background-color: #B7CE66;
    border-radius: 50px;
    margin-right: 2%;
}

.produit_commande .produit_commande_top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: white;
    border-radius: 50px 50px 0px 0px;
}

.produit_commande_top .produit_commande_image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 50px 50px 0px 0px;
}

.produit_commande .grid_produit_commande_bottom_parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 3%;

    width: 100%;
    height: 50%;
}

.grid_produit_commande_bottom_1 {
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    word-wrap: break-word;
}

.grid_produit_commande_bottom_2 {
    grid-area: 2 / 1 / 3 / 2;
}

.grid_produit_commande_bottom_3 {
    grid-area: 2 / 2 / 3 / 3;
}

.grid_produit_commande_bottom_4 {
    grid-area: 3 / 1 / 4 / 3;
}

.scroll_conteneur_x {
    position: relative;
    height: 100%;
}

.scrollable_x {
    display: flex;
    flex-wrap: nowrap;
    min-width: 100%;
    width: auto;
    height: 100%;
    overflow-x: scroll;
    scrollbar-width: 5px;
}

.scrollable_x>* {
    flex-shrink: 0;
}

.grid_3 {
    grid-area: 1 / 3 / 2 / 4;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
}

.grid_4 {
    grid-area: 2 / 3 / 3 / 4;
}

.grid_5 {
    grid-area: 3 / 3 / 4 / 4;
}

.annuler {
    height: 60%;
    background-color: #B7CE66;
    border-radius: 50px;
}

.annuler_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.commander {
    height: 60%;
    background-color: #B7CE66;
    border-radius: 50px;
}

button {
    display: flex;
    background: none;
    border: 0px;
}

.text_commander {
    font-size: 20px;
}