body {
  font-family: poppins;
}

header {
  padding: 0px 100px 0px 100px;
}


.wrapper {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
}

.sidebar form {
  margin-top: 10px;
}

.chat-container {
  flex: 1;
  padding: 20px;
}

.chat-header {
  background-color: #e0e0e0;
  padding: 10px;
  margin-bottom: 10px;
}

.chat-messages {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.message-input,
#participant-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

textarea {
  resize: none;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  padding: 8px;
}

#file-input {
  margin-right: 10px;
}

form {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

.flex-container {
  
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.flex-items1 {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items2 {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.scroll{
  overflow-y:auto;
  max-height: 50%;
} 
.delete-button {
  display: inline-block;
  padding: 5px;
  border: none;
}

.delete-button img {
  width: 100%; 
  height: auto; 
}