body {
  margin: 0;
  font-family: poppins;
}

/*Titre de la page*/
.pageTitle {
  text-align: center;
}

/*Contenu de la page*/
.pageContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  max-width: 100%;
}

/*Liste des messages*/
.msgList {
  display: flex;
  flex-direction: column;
}

/*Message simple*/
.receivedMsg {
  background-color: #dcdfda;
  border-radius: 25px;
  padding: 2rem;
  height: fit-content;
  word-break: breakword;
  width: 100%;
  margin: 10px;
}
/*Div contenant les boutons dans un msg*/
.msgButtons {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

/*Prend chaque bouton (suppression, réponse*/
.msgButtons > * > * {
  border-radius: 15px;
  padding: 0.5rem;
  border: white;
  transition: all 0.1s ease-in 0s;
}

.msgButtons > * > *:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  box-shadow: 0.2px 1.4px 2.7px rgba(0, 0, 0, 0.009),
    0.5px 3.5px 6.9px rgba(0, 0, 0, 0.013),
    1.1px 7.1px 14.2px rgba(0, 0, 0, 0.017),
    2.2px 14.6px 29.2px rgba(0, 0, 0, 0.021), 6px 40px 80px rgba(0, 0, 0, 0.03);
}

/*Formulaire envoi de message*/
.msgInput {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  border-radius: 25px;
  background-color: #c8d6a2;
  height: 400px;
}

/*Les options d'entrée pour un nouveau message*/
.msgInput input,
.msgInput textarea {
  padding: 1rem;
  border: none;
  border-radius: 15px;
}
/*Bouton d'entrée pour confirmer l'envoi d'un message*/
.msgInput button {
  border: none;
  padding: 0.75rem;
  width: 50%;
  margin: auto;
  background-color: #8fb43a;
  color: white;
  border-radius: 10px;
  transition: background-color 0.1s ease-in 0s;
}

.msgInput button:hover {
  background-color: #6b8c1e;
  cursor: pointer;
}

/*A partir du moment où on est à >900px, on affiche tout ça */
@media screen and (min-width: 900px) {
  .pageContent {
    flex-direction: row;
  }

  .msgList {
    width: 60%;
  }

  .msgInput {
    width: 40%;
  }
}