body {
  font-family: poppins;
  scroll-behavior: none;
  overflow-y: hidden;

}

header {
  padding: 0px 100px 0px 100px;
}


.wrapper {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
}

.sidebar form {
  margin-top: 10px;
}

.chat-container {
  flex: 1;
  padding: 20px;
}

.chat-header {
  background-color: #e0e0e0;
  padding: 10px;
  margin-bottom: 10px;
}

.chat-messages {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.message-input{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.participant-input{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

textarea {
  resize: none;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  padding: 8px;
}

#file-input {
  margin-right: 10px;
}

form {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  flex-direction: row;
  
}

.flex-items1 {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  height: 175vh;
  width: 200vh;
  
}
 
.flex-items2 {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 30%;
}

.scroll{
  overflow-y:auto;
  max-height: 50%;
} 
.delete-button {
  display: inline-block;
  padding: 5px;
  background-color: green;
  border-radius: 10px;
border-color: black;
border-style: solid;
border-width: 2px;

}

.delete-button img {
  width: 100%; 
  background-color: green;
  height: auto; 
}

.reply-button {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  background-color: green;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.reply-img{
  width: 100%; 
  background-color: green;
  height: auto; 
}

.form-icon{
display: flex; 
align-items: center;
justify-content: space-between;
border-radius: 15%;

}

.color-mail{
  background-color: green;
  border-radius: 15%;
  padding-left: 10%;
  padding-right: 10%;
}
.title-conv{
  background-color: green;
  border-radius: 15%;
  size: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
}