:root {
    --gris-clair: rgba(220, 223, 218, 1);
    --vert-tres-clair: rgba(200, 214, 162, 1);
    --vert-clair: rgba(183, 206, 102, 1);
    --vert: rgba(143, 180, 58, 1);
    --vert-fonc: rgba(75, 89, 67, 1);
  }
  